@keyframes pulsingBackground {
  0% {
    background-color: var(--color-low);
  }
  20% {
    background-color: var(--color-low);
    opacity: 100%;
  }
  50% {
    background-color: var(--color-low-trans);
    opacity: 75%;
  }
  80% {
    background-color: var(--color-low);
    opacity: 100%;
  }
  100% {
    background-color: var(--color-low);
  }
}

.wrapper-2jXpOf .mainContent-u_9PKf:before {
  transition: width 0.8s;
  position: absolute;
  animation-name: pulsingBackground;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 0%;
}
.wrapper-2jXpOf.modeConnected-3IsKId .mainContent-u_9PKf:before, .wrapper-2jXpOf.modeSelected-346R90 .mainContent-u_9PKf:before, .wrapper-2jXpOf:hover .mainContent-u_9PKf:before {
  width: 100%;
}

:root {
    --color-low: rgba(138, 0, 0, 0.548);
    --color-low-trans: rgb(0, 0, 0);
}